@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{padding: 0; margin: 0;}

/*폰트설정*/
#menu {font-family: 'Do Hyeon', sans-serif;}

/*최상단 메뉴바 UI*/
#top_menu {display: flex; justify-content: flex-end;}
#top_menu ul li {display: inline-block; margin: 0 10px}

/*최상단 메뉴바 a태그 UI*/
#top_menu a {color: black;}
#top_menu a:link {text-decoration: none;}
#top_menu a:visited {text-decoration: none;}
#top_menu a:hover {text-decoration: none;}
#top_menu a:active {text-decoration: none;}

/*메뉴바 UI*/
#menu {height: 60px; display: flex; justify-content: center; align-items: center; background-color: #205591;}
#menu ul {margin:0 10px}
#menu ul li {display: inline-block; list-style: none; margin: 0 20px}
#menu ul li a {color: whitesmoke;}

/*a태그 UI*/
#menu a {font-size: 30px; color: black;}
#menu a:link {text-decoration: none;}
#menu a:visited {text-decoration: none;}
#menu a:hover {text-decoration: none;}
#menu a:active {text-decoration: none;}