@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {padding: 0; margin: 0;}

/*폰트설정*/
#menu {font-family: "Do Hyeon", sans-serif;}
#logo_span {font-family: "Do Hyeon", sans-serif; font-size: 25px;}

/*최상단 메뉴바 UI*/
#top_menu {background-color: #ffffff;}
#top_menu ul {position: fixed; top: 10px; right: 0;}
#top_menu ul li {display: inline-block; margin: 0 10px}
#logo_container {display: flex; align-items: center;}

/*최상단 메뉴바 로고 UI*/
#logo {width: 60px; height: 60px; margin: 10px 20px 10px 60px;}

/*최상단 메뉴바 a태그 UI*/
#top_menu a {color: #1d1d1d;}
#top_menu a:link {text-decoration: none;}
#top_menu a:visited {text-decoration: none;}
#top_menu a:hover {text-decoration: none;}
#top_menu a:active {text-decoration: none;}

/*메뉴바 UI*/
#menu {height: 6vh; width: 100vw; display: flex; justify-content: center; align-items: center;
    background-color: #205591; top: 0; left: 0;}
#menu ul {margin: 0 10px}
#menu ul li {display: inline-block; list-style: none; margin: 0 20px}
#menu ul li a {color: whitesmoke;}

/*메뉴바 고정 클래스*/
.leftTopFixed {position: fixed; left: 0; top: 0;}
.bodyMenuFixed {margin-top: 60px;}

/*a태그 UI*/
#menu a {font-size: 30px; color: black;}
#menu a:link {text-decoration: none;}
#menu a:visited {text-decoration: none;}
#menu a:hover {text-decoration: none;}
#menu a:active {text-decoration: none;}

/*커서 포인터 UI*/
.cursor_pointer {cursor: pointer;}