@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
#game_info_view_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 224, 212);
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline;}

#game_info_view_container img{
    width: 270px;
    height: 300px;
}
#game_review_view_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 224, 212);
}
#game_review_view_container img{
    width: 270px;
    height: 300px;
}
.label_container{
    padding-top: 20px;
    text-align: center;
    font: bold 32px/1.5 Do Hyeon, Verdana, sans-serif;
    background-color: rgb(228, 224, 212);
}
.info_view_a{
    padding: 10px;
    text-align: center;
}
.info_view_img{
    border-radius: 20px;
}

#calendar_notice_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(228, 224, 212);
}
#calendar_container{
    width: 500px;
    height: 400px;
    padding: 20px;
    margin-left: 20px;
    background-color: whitesmoke;
}
#calendar_container ul,#notice_container ul{
    list-style: none;
}
#notice_container{
    width: 600px;
    height: 400px;
    padding: 20px;
    margin-left: 20px;
    background-color: whitesmoke;
}
.span_container{
    text-align: center;
    position: relative;
    background-color: lightskyblue;
    font-weight: bold;
}
.span_container a{
    justify-content: end;
    position: absolute;
    right: 3%;
    font-size: 15px;
    font-weight: normal;
}
#cal_day_con{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cal_day_con span{
    font-size: 20px;
}
#cal_day_con p{
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

#cal_day_con a{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-left: 20px;
    width: 200px;
}


.cal_image{
    margin-left: 20px;
    margin-top: 5px;
    width: 70px;
    height: 65px;
    margin-bottom: 5px;
}

#notice_con{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#notice_con span{
    font-size: 18px;
}
.notice_li{
    margin: 13px 0;
}
#notice_con a{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    /* margin: 5px 40px 10px; */
    width: 350px;
    word-break: keep-all;
}