@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
#game_info_view_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 224, 212);
}
#game_info_view_container img{
    width: 270px;
    height: 300px;
}
#game_review_view_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 224, 212);
}
#game_review_view_container img{
    width: 270px;
    height: 300px;
}
.label_container{
    padding-top: 20px;
    text-align: center;
    font: bold 32px/1.5 Do Hyeon, Verdana, sans-serif;
    background-color: rgb(228, 224, 212);
}
.info_view_a{
    padding: 10px;
    text-align: center;
}
.info_view_img{
    border-radius: 20px;
}

#calendar_notice_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#calendar_container{
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-left: 20px;
    background-color: rgb(123, 122, 128);
}
#calendar_container ul{
    list-style: none;
}
#notice_container{
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-left: 20px;
    background-color: rgb(123, 122, 128);
}
.span_container{
    text-align: center;
    background-color: darkgray;
    font-weight: bold;
}