@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url("./back_img/back2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/*리스트 관련 UI*/
  #list{
    width: 1280px;
    margin: 0 auto;
    /* border: 2px solid #777;
    border-radius: 25px; */
  }

  #list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #list h3 {
    font: bold 21px/1.5 Do Hyeon, Verdana, sans-serif;
    margin-bottom: 10px;
  }

  #list li img {
    float: left;
    margin: 0 14px 0 0;
    width: 280px;
    height: 200px;
    border-radius: 25px;
  }

  #list li p {
    font: 200 16px/1.5 Nanum Myeongjo, Times New Roman, serif;
  }

  #list li {
    width: 580px;
    height: 200px;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 25px;
    background-color: white;
  }

  #list li:hover {
    background: #eee;
    cursor: pointer;
  }

  #list a {
    display: inline-block;
    color: #000;
    margin: 8px 17px;
    text-decoration: none;
  }


  #top ul {
    list-style-type: none;
  }

  #top ul li {
    display: inline;
  }

  #top {
    display: flex;
    justify-content: flex-end;
  }

  #container_body {
    width: fit-content;
    margin:10px auto;
  }

  button {
    width: 80px;
    height: 40px;
  }
  /*검색 기능 css  */
  
  #top{margin-bottom: 20px;}
  #top select{height: 24px;}
  #top input{height: 20px;}
  #top button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:12px;
    padding:0 2px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  #top button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  #top button:before,#top button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  #top button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #top button:hover:before,#top button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  /* 아래 페이지 표에 대한 css */
  #page_button{margin: 0 auto; text-align: center; margin-top: 30px; padding-bottom: 30px;}
  a:link { color: black; text-decoration: none;}
  a:visited { color: black; text-decoration: none;}
  a:hover { color: black; text-decoration: underline;}