/* 공지사항 글쓰기(notice_insert.php) */
#notice_box { position: relative; width: 800px; margin: 0 auto; }
#notice_box h3 { margin-top: 30px;	padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#notice_form span { display: inline-block; }
#notice_form .col1 { width: 150px; }
#notice_form { list-style: none;}
#notice_form li {padding: 12px; border-bottom: solid 1px #dddddd; }
#notice_form li .list2 input[type='text'] { width: 500px; height: 25px; }
#notice_form li .list2 label {margin-left: 20px;}
#notice_form textarea { width: 500px;	height: 150px; }
#notice_form #text_area { position: relative;	height: 158px; }
#notice_form #text_area .col1 { position: absolute; top: 10px; }
#notice_form #text_area .col2 { position: absolute; left: 166px; }
#notice_box .buttons { text-align: right; margin: 20px 0 40px 0; }
#notice_box .buttons li { display: inline; }
#notice_box .buttons button { padding: 5px 10px; cursor: pointer; }
#notice_box .buttons form { display: inline-block; }
#insert_form_notice_container{height: 66vh; display: flex;}
#modify_notice_container{height: 66vh; display: flex;}

/* 공지사항 목록보기(index.php) */
#notice_list {list-style: none;}
#notice_list li { padding: 10px 0; border-bottom: solid 1px #dddddd; }
#notice_list span { display: inline-block; text-align: center; vertical-align: middle; font-size: 15px;}
#notice_list .list1 { width: 80px;}
#notice_list .list2 { width: 330px; text-align: left;}
#notice_list .list3 { width: 100px; }
#notice_list .list4 { width: 40px; }
#notice_list .list5 { width: 180px; }
#notice_list .list6 { width: 45px; }
#notice_list .list4 img {vertical-align: middle;}
#search{margin-right: 10px; width: 200px; height: 28px; float: left;}
#imgbtn{margin-right: 10px;}
/*공지사항 페이지*/
#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }
#page_num li  a:link { color: black; text-decoration: none;}
#page_num li a:visited { color: black; text-decoration: none;}
#page_num li a:hover { color: blue; text-decoration: underline;}

.urgent_notice {background-color: #e6e6e6;}
.urgent_notice .list1 {color: red;}

#no_record {display: flex; flex-direction: column; justify-content: center; align-items: center; color: red;}
#no_record p {margin: 5px 0;}

#notice_list li .list2 a:link { color: black; text-decoration: none;}
#notice_list li .list2 a:visited { color: black; text-decoration: none;}
#notice_list li .list2 a:hover { color: blue; text-decoration: underline;}

/* 게시판 내용보기(notice_view.php) */
#view_notice_container {min-height: 63vh;}

#notice_box { width: 800px; margin: 0 auto; }
#notice_box .title { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#view_content {list-style: none; }
#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #aaaaaa; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	padding: 15px 15px 80px 15px; border-bottom: solid 1px #cccccc; }
#view_content li:nth-child(3) button { padding: 5px 20px; margin: 15px 0 40px 720px; cursor: pointer; }

#page_num { margin-top:10px; text-align:center; }
#notice_view_image {max-width: 640px; max-height: 360px; margin: 30px 0;}

#search_form{display: inline;}
#searchbtn{width: 45px; height: 32px;}
#notice_search_div{height: 30px; padding-bottom: 10px;margin-left: 450px;}
#notice_search_div #search_div1{float: left; margin-left: 5px; margin-right: 1px;}
#notice_search_div #search_div2{float: left; margin-left: 3px;}
#notice_search_div #search_div3{float: left; margin-left: 5px; margin-top: 3px;}