/*구글폰트 추가*/
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

/*기본여백 수정*/
*{margin: 0; padding: 0;}

/*글씨체 UI*/
.gfont_1 {font-family: "Do Hyeon", sans-serif;}
.gfont_2 {font-family: 'Noto Serif KR', serif;}
.gfont_3 {font-family: 'Commissioner', sans-serif;}

/*a태그 UI*/
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

/*커서 포인터 UI*/
.cursor_pointer {cursor: pointer;}

/*상단 타이틀바 UI*/
#title_container  {background-color: #242831; padding: 15px; height: 5vh; display: flex; justify-content: space-between; align-items: center;}
#title {font-size: 40px; color: whitesmoke;}
#title_sub {font-size: 35px; color: whitesmoke;}


/*사이드 메뉴 UI =================================================================================*/
#side_menu {float: left; width: 15vw; height: 92vh; background-color: grey;}

#side_menu ul li {height: 5vh; background-color: #b7b7b7; display: flex; align-items: center;}
#side_menu ul li:not(:last-child) {border-bottom: solid 2px black;}
#side_menu ul li span {margin: 0 0 0 30px; font-size: 25px;}

/*콘텐츠 UI ==================================================================================*/
#content {float: left; width: 85vw; height: 92vh; background-image: url("../img/background.jpg"); background-size: cover;}

